[submodule "ot/Open-Transactions"]
	path = ot/Open-Transactions
	url = git@github.com:FellowTraveler/Open-Transactions.git
[submodule "ot/zeromq2-x"]
	path = ot/zeromq2-x
	url = https://github.com/zeromq/zeromq2-x
[submodule "ot/ChaiScript"]
	path = ot/ChaiScript
	url = https://github.com/ChaiScript/ChaiScript.git
