[submodule "ot/openssl-android"]
	path = ot/openssl-android
	url = https://github.com/FellowTraveler/openssl-android.git
[submodule "ot/android-cmake"]
	path = ot/android-cmake
	url = git@github.com:taka-no-me/android-cmake.git
