[submodule "ot/openssl-android"]
	path = ot/openssl-android
	url = https://github.com/FellowTraveler/openssl-android.git
[submodule "ot/Open-Transactions"]
	path = ot/Open-Transactions
	url = git@github.com:Open-Transactions/opentxs.git
	branch = develop
[submodule "ot/android-cmake"]
	path = ot/android-cmake
	url = git@github.com:taka-no-me/android-cmake.git
